.board {
  @boardHeight: 600px;
  height: @boardHeight;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .background-row {
    line-height: 0;
  }

  .popover {
    &.right-alert {
      right: 20px;
      left: initial;
    }

    &.info, &.success {
      .popover-title {
        color: #fff;
      }
    }

    &.info {
      .popover-title {
        background-color: #337ab7;
        border-color: #2e6da4;
      }
    }

    &.success {
      .popover-title {
        background-color: #5cb85c;
        border-color: #4cae4c;
      }
    }
  }

  .menu-modal {
    height: 100%;
    overflow: hidden;

    .modal-dialog {
      height: calc(~'100% - 60px');
      width: 800px;

      .modal-content {
        height: 100%;

        .modal-body {
          height: calc(~'100% - 55px');
          overflow: auto;
        }
      }
    }
  }

  &.modal-container {
    position: relative;
    padding: 0 !important;
  }

  &.modal-container .modal, &.modal-container .modal-backdrop {
    position: absolute;
  }
}
