.board {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
  line-height: 0;
  position: relative;
  overflow: hidden;

  .background-row {
    .background-tile {
      height: 40px;
      width: 40px;
      display: inline-block;

      &.dirt {
        background-color: #571E12;
      }

      &.grass {
        background-color: green;
      }

      &.bush {
        background-color: darkgreen;
      }

    }
  }
}
