.board {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
  line-height: 0;
  position: relative;
  overflow: hidden;

  .background-row {
  }

  .popover {
    &.right-alert {
      right: 20px;
      left: initial;
    }
  }
}
