.bunny {
  height: 32px;
  width: 32px;
  position: absolute;
  z-index: 1;

  transition: top .10s linear, left .10s linear;

  &.hero {
    // background-color: pink;
  }

  &.no-transition {
    transition: none;
  }

  &.right {
    transform: scaleX(-1);
  }

  img {
    height: 100%;
    width: 100%;
  }
}
