.food {
  position: absolute;
  z-index: 1;

  &.AlfalfaHay { width: 59px; }

  &.Apple { width: 17px; }

  &.Arugula { width: 17px; }

  &.Banana { width: 19px; }

  &.Basil { width: 19px; }

  &.Blueberry { width: 23px; }

  &.BokChoy { width: 18px; }

  &.Broccoli { width: 17px; }

  &.BuriedCarrot { width: 24px; }

  &.ButterLettuce { width: 25px; }

  &.Cabbage { width: 25px; }

  &.Carrot { width: 20px; }

  &.Cilantro { width: 20px; }

  &.DandelionGreens { width: 25px; }

  &.Endive { width: 25px; }

  &.Melon { width: 30px; }

  &.Mint { width: 20px; }

  &.Papaya { width: 20px; } // TODO

  &.Parsley { width: 20px; } // TODO

  &.Peach { width: 20px; } // TODO

  &.Pear { width: 20px; } // TODO

  &.Pumpkin { width: 20px; } // TODO

  &.Radicchio { width: 20px; } // TODO

  &.Raspberry { width: 20px; } // TODO

  &.RedLeafLettuce { width: 20px; } // TODO

  &.RomaineLettuce { width: 20px; } // TODO

  &.Spinach { width: 20px; } // TODO

  &.Strawberry { width: 20px; } // TODO

  &.SwissChard { width: 20px; } // TODO

  &.TimothyHay { width: 20px; } // TODO

  &.Zucchini { width: 20px; } // TODO

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
