.food {
  position: absolute;
  z-index: 1;

  &.Carrot {
    height: 20px;
    width: 20px;
  }

  &.BuriedCarrot {
    height: 24px;
    width: 24px;
  }

  &.AlfalfaHay {
    height: 38px;
    width: 59px;
  }

  &.Broccoli {
    height: 24px;
    width: 17px;
  }

  img {
    height: 100%;
    width: 100%;
  }
}
