.food {
  position: absolute;
  z-index: 1;

  &.Carrot {
    width: 20px;
  }

  &.BuriedCarrot {
    width: 24px;
  }

  &.AlfalfaHay {
    width: 59px;
  }

  &.Broccoli {
    width: 17px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
