.menu-modal {
  overflow: auto;

  .menu-modal-content {
    height: 100%;

    .tabs {
      width: 100%;

      .tab-content {
        padding-top: 10px;

        .main-menu-content {
          padding: 10px 20px;
        }
      }
    }

    .collected-section {
      height: 100%;

      .inventory-list {
        overflow-y: auto;
        height: 100%;
        align-content: flex-start;

        .inventory-item-cell {
          padding: 5px;
          height: 100px;

          &.disabled {
            .inventory-item-cell-content {
              background-color: #ececec;
            }
          }

          .inventory-item-cell-content {
            border: 1px solid #ccc;
            padding: 5px;

            .inventory-item-cell-image {
              padding: 5px;
              align-items: center;
              justify-content: center;
              position: relative;

              .inventory-item-stock {
                position: absolute;
                right: 0;
                top: 0;
              }
            }

            .inventory-item-cell-details {
              text-align: center;
              font-size: 12px;
            }

            .unlock-icon {
              justify-content: center;

              .glyphicon {
                align-self: center;
                font-size: 36px;
                color: #9f9f9f;
              }
            }
          }
        }

        .food {
          display: block;
          position: initial;
          max-height: 50px;

          img {
            display: block;
            height: 100%;
            margin: 0 auto;
            width: 100%;
            max-width: 45px;
          }
        }
      }
    }
  }
}
