.food {
  position: absolute;
  z-index: 1;
}
.food.AlfalfaHay {
  width: 59px;
}
.food.Apple {
  width: 17px;
}
.food.Arugula {
  width: 17px;
}
.food.Banana {
  width: 19px;
}
.food.Basil {
  width: 19px;
}
.food.Blueberry {
  width: 23px;
}
.food.BokChoy {
  width: 18px;
}
.food.Broccoli {
  width: 17px;
}
.food.BuriedCarrot {
  width: 24px;
}
.food.ButterLettuce {
  width: 25px;
}
.food.Cabbage {
  width: 25px;
}
.food.Carrot {
  width: 20px;
}
.food.Cilantro {
  width: 20px;
}
.food.DandelionGreens {
  width: 25px;
}
.food.Endive {
  width: 25px;
}
.food.Melon {
  width: 30px;
}
.food.Mint {
  width: 20px;
}
.food.Papaya {
  width: 20px;
}
.food.Parsley {
  width: 20px;
}
.food.Peach {
  width: 20px;
}
.food.Pear {
  width: 20px;
}
.food.Pumpkin {
  width: 20px;
}
.food.Radicchio {
  width: 20px;
}
.food.Raspberry {
  width: 20px;
}
.food.RedLeafLettuce {
  width: 20px;
}
.food.RomaineLettuce {
  width: 20px;
}
.food.Spinach {
  width: 20px;
}
.food.Strawberry {
  width: 20px;
}
.food.SwissChard {
  width: 20px;
}
.food.TimothyHay {
  width: 20px;
}
.food.Zucchini {
  width: 20px;
}
.food img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.background-tile {
  height: 40px;
  width: 40px;
  display: inline-block;
}
.background-tile.dirt {
  background-color: #571E12;
}
.background-tile.grass {
  background-color: green;
}
.background-tile.bush {
  background-color: darkgreen;
}
.background-tile img {
  height: 100%;
  width: 100%;
}
.scenery {
  position: absolute;
  z-index: 1;
}
.scenery.Bush {
  height: 40px;
  width: 40px;
}
.scenery.Bush img {
  height: 100%;
  width: 100%;
}
.bunny {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 1;
  -webkit-transition: top .12s linear, left .12s linear;
  transition: top .12s linear, left .12s linear;
}
.bunny.no-transition {
  -webkit-transition: none;
  transition: none;
}
.bunny.right img {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.bunny:not(.up):not(.down).isFlopped {
  height: 36px;
  width: 44px;
}
.bunny img {
  height: 100%;
  width: 100%;
}
.inventory-modal {
  overflow: auto;
}
.inventory-modal .inventory-modal-content {
  height: 100%;
}
.inventory-modal .inventory-modal-content .collected-section {
  height: 100%;
  width: 50%;
  margin-left: 10px;
}
.inventory-modal .inventory-modal-content .collected-section:first-of-type {
  margin-left: 0;
}
.inventory-modal .inventory-modal-content .collected-section .inventory-list {
  overflow-y: auto;
  height: 100%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.inventory-modal .inventory-modal-content .collected-section .inventory-list .inventory-item-cell {
  padding: 5px;
  height: 75px;
}
.inventory-modal .inventory-modal-content .collected-section .inventory-list .inventory-item-cell.disabled .inventory-item-cell-content {
  background-color: #ececec;
}
.inventory-modal .inventory-modal-content .collected-section .inventory-list .inventory-item-cell .inventory-item-cell-content {
  border: 1px solid #ccc;
  padding: 5px;
}
.inventory-modal .inventory-modal-content .collected-section .inventory-list .inventory-item-cell .inventory-item-cell-content .inventory-item-cell-image {
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.inventory-modal .inventory-modal-content .collected-section .inventory-list .inventory-item-cell .inventory-item-cell-content .inventory-item-cell-image .inventory-item-stock {
  position: absolute;
  right: 0;
  top: 0;
}
.inventory-modal .inventory-modal-content .collected-section .inventory-list .inventory-item-cell .inventory-item-cell-content .inventory-item-cell-details {
  text-align: center;
  font-size: 12px;
}
.inventory-modal .inventory-modal-content .collected-section .inventory-list .inventory-item-cell .inventory-item-cell-content .unlock-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.inventory-modal .inventory-modal-content .collected-section .inventory-list .inventory-item-cell .inventory-item-cell-content .unlock-icon .glyphicon {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 36px;
  color: #9f9f9f;
}
.inventory-modal .inventory-modal-content .collected-section .inventory-list .food {
  display: block;
  position: initial;
  max-height: 30px;
}
.inventory-modal .inventory-modal-content .collected-section .inventory-list .food img {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 45px;
}
.board {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.board .background-row {
  line-height: 0;
}
.board .popover.right-alert {
  right: 20px;
  left: initial;
}
.board .popover.info .popover-title,
.board .popover.success .popover-title {
  color: #fff;
}
.board .popover.info .popover-title {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.board .popover.success .popover-title {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.board .inventory-modal {
  height: 100%;
  overflow: hidden;
}
.board .inventory-modal .modal-dialog {
  height: calc(100% - 60px);
  width: 800px;
}
.board .inventory-modal .modal-dialog .modal-content {
  height: 100%;
}
.board .inventory-modal .modal-dialog .modal-content .modal-body {
  height: calc(100% - 55px);
  overflow: auto;
}
.board.modal-container {
  position: relative;
  padding: 0 !important;
}
.board.modal-container .modal,
.board.modal-container .modal-backdrop {
  position: absolute;
}
html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.app {
  padding: 40px 0;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/** FLEX GRID **/
.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Small screens */
  /* Medium screens */
  /* Large screens */
  /* Extra-Large screens */
}
.flex-grid .grid-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  max-width: 100%;
}
.flex-grid.grid-fit > .grid-cell {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flex-grid.grid-full > .grid-cell {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.flex-grid.grid-half > .grid-cell {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.flex-grid.grid-third > .grid-cell {
  width: 33.3333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
}
.flex-grid.grid-quarter > .grid-cell {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
.flex-grid > .min-full-cell {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.flex-grid > .min-half-cell {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.flex-grid > .min-third-cell {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.flex-grid > .min-quarter-cell {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
@media (min-width: 24em) {
  .flex-grid:not(.small-grid-full) > .grid-cell {
    padding: 10px;
  }
  .flex-grid.small-grid-fit > .grid-cell {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .flex-grid.small-grid-full > .grid-cell {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .flex-grid.small-grid-half > .grid-cell {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .flex-grid.small-grid-third > .grid-cell {
    width: 33.3333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
  .flex-grid.small-grid-quarter > .grid-cell {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .flex-grid > .min-full-cell {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
@media (min-width: 36em) {
  .flex-grid:not(.small-grid-full) > .grid-cell {
    padding: 10px;
  }
  .flex-grid.medium-grid-fit > .grid-cell {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .flex-grid.medium-grid-full > .grid-cell {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .flex-grid.medium-grid-half > .grid-cell {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .flex-grid.medium-grid-third > .grid-cell {
    width: 33.3333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
  .flex-grid.medium-grid-quarter > .grid-cell {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .flex-grid > .min-full-cell {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .flex-grid > .min-third-cell {
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .flex-grid > .min-quarter-cell {
    width: 33.3333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
}
@media (min-width: 48em) {
  .flex-grid:not(.small-grid-full) > .grid-cell {
    padding: 10px;
  }
  .flex-grid.large-grid-fit > .grid-cell {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .flex-grid.large-grid-full > .grid-cell {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .flex-grid.large-grid-half > .grid-cell {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .flex-grid.large-grid-third > .grid-cell {
    width: 33.3333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
  .flex-grid.large-grid-quarter > .grid-cell {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .flex-grid > .min-full-cell {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
@media (min-width: 72em) {
  .flex-grid:not(.small-grid-full) > .grid-cell {
    padding: 10px;
  }
  .flex-grid.xl-grid-fit > .grid-cell {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .flex-grid.xl-grid-full > .grid-cell {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .flex-grid.xl-grid-half > .grid-cell {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .flex-grid.xl-grid-third > .grid-cell {
    width: 33.3333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
  .flex-grid.xl-grid-quarter > .grid-cell {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .flex-grid > .min-quarter-cell {
    width: 25%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
  .flex-grid > .min-third-cell {
    width: 33.3333%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.3333%;
            flex: 1 0 33.3333%;
  }
  .flex-grid > .min-half-cell {
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .flex-grid > .min-full-cell {
    width: 100% !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
  }
}
.relative {
  position: relative;
}
.full-absolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
